<!DOCTYPE html>
<html style="background-image: url(img/loading.gif); background-position: center; background-repeat: no-repeat; background-color: white; background-size: contain;">
    <head>

        <title>Gerador de Lero Lero</title>
    
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no" />
        <style>
            @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }  @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
            @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }           @viewport { user-zoom: fixed ; min-zoom: 100% ; }
        </style>
    
        <meta http-equiv="Content-Security-Policy" content="" />
        
        <script src="cordova.js"></script>

    </head>
<body style="display: none;">

    <div class="tela">

        <div class="conteudo" ng-view></div>

        <div class="menu" ng-controller="menu-controller">

            <md-toolbar class="barra-fixa">
                <h1 class="md-toolbar-tools" ng-click="menu()">
                    <md-icon> menu </md-icon>
                    <span>Gerador de Lero Lero</span>
                </h1>
            </md-toolbar>

            <md-sidenav class="md-sidenav-left" md-component-id="menu-principal" md-whiteframe="4">

                <md-content layout-margin>
                    <md-button layout="layout-fill" class="md-primary" ng-click="menu()" ng-href="#!/inicio">Início</md-button>
                    <md-button layout="layout-fill" ng-click="menu()" ng-href="#!/sobre">Sobre</md-button>
                </md-content>

            </md-sidenav>

        </div>

    </div>

    <script src="js/init.js"></script>

</body>
</html>