﻿<div class="assunto">
    <h1>Qual assunto?</h1>
    <p>
        Embromation para qualquer grupo de pessoas.
        Aos poucos vai chegando mais. <emoji>cool</emoji>
        Escolhe um aí...
    </p>
    <md-card ng-repeat="assunto in assuntos">
        <md-card-title>
            <md-card-title-text>
                <md-button class="md-accent md-raised" ng-click="selecionar($index);">{{assunto.titulo}}</md-button>
                <span class="md-subhead">{{assunto.descricao}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
    <p class="sugestoes">
        Mande sugestões de assuntos.<br/>
        Consulte o e-mail na seção "Sobre".
    </p>
</div>