﻿<div class="sobre">
    <h1>Blá Blá Blá...</h1>
    <p>
        Sabe quando você nao tem nada pra fazer?
        Então, devido a isso eu fiz esse App.
        O melhor de tudo é que ele serve pra você também
        que não tem nada pra fazer... hahaha... <emoji>;P</emoji><br />
        <br />
        Com o <strong>Gerador de Lero Lero</strong> você monta
        frases com sentido de verdade, mas sem nenhum conteúdo.<br />
        <br />
        Tente ver por quanto tempo consegue enganar seus amigos com ele.
    </p>
    <hr />
    <div class="logo" ng-click="girar($event);"></div>
    <h5>sergio@cabral.br.com</h5>
    <hr />
    <p>
        Tentando de tudo um pouco... rsrsrs... <emoji>:'D2</emoji><br />
        <br />
        Criei um portal pra jogar todas as bagunças que eu faço.
        Entra lá e vê se tem alguma coisa legal pra você.
    </p>
    <md-button class="md-accent" ng-click="acessarPortalCabral()">www.cabral.br.com</md-button>
</div>