<div class="embromation">
    <h1>Embromation</h1>
    <p>
        Você escolhe qualquer um dos trechos abaixo
        e no final monta uma frase cheia de sentido
        mas sem nenhum significado. <emoji ng-click="randomico()" class="{{aleatorioClass}}">poo</emoji><br />
        <sub style="visibility: {{infoVisibility}}">Vai clicando e no final você vai entender...</sub>
    </p>
    <md-button class="md-primary {{fraseClass}} md-button label frase" ng-click="copiar()" style="visibility: {{fraseVisibility}}">{{fraseAtual()}}</md-button>
    <div class="frases">
        <md-button class="md-accent md-raised label" ng-repeat="parte in partes()" ng-click="selecionar($index)">{{parte}}</md-button>
    </div>
    <div class="final" style="display: {{finalDisplay}}">
        <p>
            <emoji>boxpointup</emoji> &nbsp; clique para copiar &nbsp; <emoji>boxpointup</emoji>
            <span><br/>copiado para área de transferência</span>
        </p>
        <md-button class="md-raised md-accent large" ng-href="#!/embromation">Voltar</md-button>
    </div>
    <p style="display: {{infoDisplay}}">Clique aqui na <s>bosta</s> <emoji ng-click="randomico()">poo</emoji> para uma frase aleatória.<br /><br /></p>

</div>