/* Animação de transição: ENTRADA da tela. */
@keyframes entrada {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Animação de transição: SAÍDA da tela. */
@keyframes saida {
    to {
        opacity: 0; 
    }
}

/* Animação Angular: ENTRADA do elemento. */
.ng-enter {
    animation: entrada 0.5s both ease-in;
    z-index: 102;
}

/* Animação Angular: SAÍDA do elemento. */
.ng-leave {
    animation: saida 0.5s both ease-in;
    z-index: 101;
}

/* Base da tela. */
body {
    background-color: black;
}

/* Base do conteúdo. */
.conteudo {
    background-color: white;
    position: fixed;
    bottom: 0;
    top: 0;
    text-align: center;
    padding-top: 200px;
    width: 100%;
}