/* Animação de transição: ENTRADA da tela. */
@keyframes entrada {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Animação de transição: SAÍDA da tela. */
@keyframes saida {
    to {
        opacity: 0; 
    }
}

/* Zera todas as margens. */
* {
    margin: 0;
}

/* Animação Angular: ENTRADA do elemento. */
.conteudo.ng-enter {
    animation: entrada 0.5s both ease-in;
    z-index: 2;
}

/* Animação Angular: SAÍDA do elemento. */
.conteudo.ng-leave {
    animation: saida 0.5s both ease-in;
    z-index: 1;
}

/* Base da tela. */
body {
    background-color: black;
}

/* Menu: barra superior sempre fixa. */
.menu .barra-fixa {
    z-index: 70;
    cursor: pointer;
}

/* Menu: ícone da barra fixa. */
.menu .barra-fixa md-icon {
    margin: 0 0.5em 0 0;
}

/* Menu: ícone ao longo do menu. */
.menu md-sidenav md-icon {
    margin: 0 0.5em 0 0.5em;
}

/* Menu lateral. Para ficar abaixo da barra fixa. */
.menu md-sidenav {
    padding-top: 4em;
}
@media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
    .menu md-sidenav {
        padding-top: 3em;
    }
}

/* Base do conteúdo. */
.conteudo {
    background-color: #ffffff;
    background: linear-gradient(#ffffff, #FFF2C9);
    position: fixed;
    bottom: 0;
    top: 0;
    padding: 5em 1em 1em 1em;
    width: 100%;
}
@media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
    .conteudo {
        padding-top: 4em;
    }
}