.conteudo .embromation {
    text-align: center;
}

.conteudo .embromation p {
    text-align: center;
    margin: 1em 10% -34px 10%;
}

.conteudo .embromation .final p:first-child {
    margin-top: 0px;
    font-size: 80%;
    opacity: 0.5;
}

.conteudo .embromation .final p emoji {
    position: relative;
    top: 2px;
}

.conteudo .embromation .final p > span {
    opacity: 0;
}

.conteudo .embromation .final .md-button {
    margin-top: 1.6em;
}

.conteudo .embromation .final .compartilhar {
    margin-top: 2em;
}

.conteudo .embromation .final .compartilhar i {
    font-size: 200%;
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 6px 10px;
    border-radius: 0.2em;
    margin: 5px;
    cursor: pointer;
}

.conteudo .embromation sub {
    font-size: 80%;
    opacity: 0.5;
}

.conteudo .embromation .md-button {
    text-align: center;
}

.conteudo .embromation .md-button.frase.large {
    padding: 0.5em;
    line-height: 1.2em;
}

.conteudo .embromation .btn-aleatorio {
    display: block;
    font-size: 2em;
    margin: 0.2em 0 -0.4em 0;
}