﻿.conteudo .sobre {
    text-align: center;
}

.conteudo .sobre .logo {
    height: 10em;    
    width: 10em;
    margin: 0 auto 1em auto;
    background-image: url(../img/meu-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.conteudo .sobre p {
    text-align: center;
    margin: 1em 10%;
}

.conteudo .sobre hr {
    margin: 2em;
    opacity: 0.3;
}